<div id="<%= dom_id event %>"> 
    <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>  
  <p>
    <strong>Club:</strong>
    <%= event.club.title %>
  </p> 
  <p>
    <strong>Start:</strong>
    <%= event.startdate %>
  </p> 
  <p>
    <strong>End:</strong>
    <%= event.enddate %>
  </p> 

</div>
