<p style="color: green"><%= notice %></p>

<h1><u>Teachers</u></h1>

<div class="text-center">



<div id="teachers">
  <% @teachers.each do |teacher| %>
    <%= render teacher %>
    <p>
      <%= button_to "Show this teacher", teacher, method: :get, class: "btn btn-primary m-1" %>
    </p>
  <% end %>
</div>

<%= button_to "New teacher", new_teacher_path, method: :get, class: "btn btn-success m-1" %>
<%= button_to "Assign students to teachers", add_students_to_teachers_teachers_path , method: :get, class: "btn btn-info m-1"%> 
</div>