<p style="color: green"><%= notice %></p>

<%= render @teacher %>

<div>
  <%= button_to "Edit this teacher", edit_teacher_path(@teacher), method: :get, class: "btn btn-warning m-1" %> |
  <%= button_to "Back to teachers", teachers_path, method: :get, class: "btn btn-secondary m-1" %>

  <%= button_to "Destroy this teacher", @teacher, method: :delete, class: "btn btn-dark m-1" %>
</div>
