<h1><u>One-to-Many</u></h1>
<div class="row">
  <div class="col">
    <h2 class="text-center">Clubs</h2>
    <table class="table table-bordered table-striped">
      <caption class="text-center">List of clubs</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
        </tr>
      </thead>
      <tbody>
        <% for club in @clubs.length.times do %>
          <tr>
            <th scope="row"><%= club+1 %></th>
            <td> <%=@clubs[club].title%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col">
    <h2 class="text-center">Events</h2>
    <table class="table table-bordered table-striped">
      <caption class="text-center">List of events</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Club Id</th>
        </tr>
      </thead>
      <tbody>
        <% for event in @events.length.times do %>
          <tr>
            <th scope="row"><%= event+1 %></th>
            <td> <%=@events[event].title%></td>
            <td> <%=@events[event].club_id%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>